@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Spartan", sans-serif;
  color: #fff;
  padding: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body.theme-1 {
  background-color: #3a4764;
}
body.theme-2 {
  background-color: #e6e6e6;
}
body.theme-3 {
  background-color: #160628;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em;
}
header .logo {
  font-size: 3em;
}
header .logo.theme-1 {
  color: #fff;
}
header .logo.theme-2 {
  color: #35352c;
}
header .logo.theme-3 {
  color: #ffe53d;
}
header .theme-selector {
  display: flex;
  align-items: flex-end;
}
header .toggle-label {
  align-self: end;
}
header .toggle-options-label {
  display: inline;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
header .toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header input[type=range] {
  display: inline;
  -webkit-appearance: none;
  width: 50%;
  height: 26px;
  padding: 0 5px;
  background: #232c43;
  border-radius: 5em;
  cursor: pointer;
}
header input[type=range]:focus {
  outline: none;
}
header input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #d03f2f;
}
header input[type=range]::-moz-range-track {
  width: 20%;
}
header input[type=range]::-moz-range-thumb {
  background-color: #d03f2f;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

main {
  width: 100%;
}

#display-box {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0.5em;
  display: block;
  text-align: right;
  padding: 7% 7% 5% 7%;
  font-size: 2.6em;
}
#display-box.theme-1 {
  background-color: #182034;
}
#display-box.theme-2 {
  background-color: #ededed;
}
#display-box.theme-3 {
  background-color: #1d0934;
}

.keys-container {
  position: relative;
  width: 100%;
  display: block;
  z-index: 0;
}

#keypad {
  position: relative;
  height: 60vh;
  width: 100%;
  display: grid;
  border-radius: 10px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  padding: 6% 6% 7% 6%;
  gap: 1em;
}
#keypad.theme-1 {
  background-color: #232c43;
}
#keypad.theme-2 {
  background-color: #d1cccc;
}
#keypad.theme-3 {
  background-color: #1d0934;
}
#keypad button {
  position: relative;
  font-family: "Spartan", sans-serif;
  font-size: 1.5em;
  border: none;
  box-shadow: 0 5px black;
  border-radius: 5px;
  padding: 0.7em 0 0.6em 0;
}
#keypad button.theme-1 {
  color: #444b5a;
  background-color: #eae3dc;
  box-shadow: 0 5px #b4a597;
}
#keypad button.theme-2 {
  color: #35352c;
  background-color: #e5e4e1;
  box-shadow: 0 5px #a69d91;
}
#keypad button.theme-3 {
  color: #ffe53d;
  background-color: #341c4f;
  box-shadow: 0 5px #871c9c;
}
#keypad .reset {
  grid-column: 1/span 2;
}
#keypad .reset, #keypad .del {
  font-size: 1em;
}
#keypad .reset.theme-1, #keypad .del.theme-1 {
  color: #fff;
  background-color: #637097;
  box-shadow: 0 5px #404e72;
}
#keypad .reset.theme-2, #keypad .del.theme-2 {
  color: #fff;
  background-color: #377f86;
  box-shadow: 0 5px #1b5f65;
}
#keypad .reset.theme-3, #keypad .del.theme-3 {
  color: #fff;
  background-color: #58077d;
  box-shadow: 0 5px #bc15f4;
}
#keypad .equals {
  font-size: 1em;
  grid-column: 3/span 2;
}
#keypad .equals.theme-1 {
  color: #fff;
  background-color: #d03f2f;
  box-shadow: 0 5px #93261a;
}
#keypad .equals.theme-2 {
  color: #fff;
  background-color: #ca5502;
  box-shadow: 0 5px #893901;
}
#keypad .equals.theme-3 {
  color: #1b2428;
  background-color: #00e0d1;
  box-shadow: 0 5px #6cf9f2;
}

.attribution {
  font-size: 0.5em;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
