@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

$theme-1-secondary-color: hsl(225, 21%, 49%);
$theme-1-accent-color: hsl(6, 63%, 50%);

$theme-2-secondary-color: hsl(185, 42%, 37%);
$theme-2-accent-color: hsl(25, 98%, 40%);

$theme-3-secondary-color: hsl(281, 89%, 26%);
$theme-3-accent-color: hsl(176, 100%, 44%);

$font-stack: 'Spartan', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: $font-stack;
    color: #fff;
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Theming */
body.theme-1 {
    background-color: hsl(222, 26%, 31%);

    .logo {
        color: #fff;
    }

    .theme-toggle {
        background-color: hsl(223, 31%, 20%);

        &::-webkit-slider-thumb {
            background-color: $theme-1-accent-color;
        }    

        &::-moz-range-thumb {
            background-color: $theme-1-accent-color;
        }
    }

    #display-box {
        background-color: hsl(224, 36%, 15%);
    }

    #keypad {
        background-color: hsl(223, 31%, 20%);
    }

    .key {
        color: hsl(221, 14%, 31%);
        background-color: hsl(30, 25%, 89%);
        box-shadow: 0 5px hsl(28, 16%, 65%);
    } 

    .key.highlighted {
        background-color: #fff;
    }

    .reset, .del {
        color: #fff;
        background-color: $theme-1-secondary-color;
        box-shadow: 0 5px hsl(224, 28%, 35%);
    }

    .equals {
        color: #fff;
        background-color: $theme-1-accent-color;
        box-shadow: 0 5px hsl(6, 70%, 34%);
    }

    .operator.selected {
        background-color: #fff;
        color: hsl(222, 26%, 31%);
    }

    .attribution a { 
        color: $theme-1-secondary-color;
    }
}

body.theme-2 {
    background-color: hsl(0, 0%, 90%);
    color: hsl(60, 10%, 19%);


    .theme-toggle {
        background-color: hsl(0, 5%, 81%);

        &::-webkit-slider-thumb {
            background-color: $theme-2-accent-color;
        }    

        &::-moz-range-thumb {
            background-color: $theme-2-accent-color;
        }
    }

    #display-box {
        background-color: hsl(0, 0%, 93%);
        color: hsl(60, 10%, 19%);
    }

    #keypad {
        background-color: hsl(0, 5%, 81%);
    }

    .key {
        background-color: hsl(45, 7%, 89%);
        box-shadow: 0 5px hsl(35, 11%, 61%);
    }

    .key.highlighted {
        background-color: #fff;
    }

    .reset, .del {
        color: #fff;
        background-color: $theme-2-secondary-color;
        box-shadow: 0 5px hsl(185, 58%, 25%);
    }

    .equals {
        color: #fff;
        background-color: $theme-2-accent-color;
        box-shadow: 0 5px hsl(25, 99%, 27%);
    }

    .operator.selected {
        background-color: #fff;
        color: hsl(35, 11%, 61%);
    }

    .attribution a { 
        color: $theme-2-secondary-color;
    }
}

body.theme-3 {
    background-color: hsl(268, 75%, 9%);
    color: hsl(52, 100%, 62%);


    .theme-toggle {
        background-color: hsl(268, 71%, 12%);

        &::-webkit-slider-thumb {
            background-color: $theme-3-accent-color;
        }    

        &::-moz-range-thumb {
            background-color: $theme-3-accent-color;
        }
    }

    #display-box {
        background-color: hsl(268, 71%, 12%);
    }

    #keypad {
        background-color: hsl(268, 71%, 12%);
    }

    .key {
        color: hsl(52, 100%, 62%);
        background-color: hsl(268, 47%, 21%);
        box-shadow: 0 5px hsl(290, 70%, 36%);
    }

    .key.highlighted {
        background-color: hsl(285, 91%, 52%);
    }

    .reset, .del {
        color: #fff;
        background-color: $theme-3-secondary-color;
        box-shadow: 0 5px hsl(285, 91%, 52%);
    }

    .equals {
        color: hsl(198, 20%, 13%);
        background-color: $theme-3-accent-color;
        box-shadow: 0 5px hsl(177, 92%, 70%);
    }

    .operator.selected {
        background-color: hsl(285, 91%, 52%);
        color: #fff;
    }

    .attribution a { 
        color: $theme-3-secondary-color;
    }

}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7em;
    margin-bottom: 2em;

    .logo {
        font-size: 3em;
    }


    .theme-selector {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .toggle-label {
        margin-right: 1em;
        margin-bottom: .2em;
    }


    .toggle-options-label {
        display: inline;
        width: 70%;
        display: flex;
        justify-content: space-between;
        margin-bottom: .2em;
    }

   .toggle-container {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 35%;
   }
    

    input[type=range] {
        display: inline;
        -webkit-appearance: none; 
        width: 100%;
        height: 26px;
        padding: 0 5px;
        
        border-radius: 5em;
        cursor: pointer;

        &:focus {
            outline: none;
        }  
        
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 16px;
            width: 16px;
            border-radius: 50%;
        }

        &::-moz-range-track {
            width: 20%;
        }

        &::-moz-range-thumb {
            border: none;
            height: 16px;
            width: 16px;
            border-radius: 50%;
        }

    }
}



main {
    width: 100%;
}

#display-box {
    width: 100%;
    border-radius: 10px;
    margin-bottom: .5em;
    display: block;
    text-align: right;
    padding: 7% 7% 5% 7%;
    font-size: 2.6em;

}

.keys-container {
    position: relative;
    width: 100%;
    display: block;
    z-index: 0;
}

#keypad {
    position: relative;
    height: 60vh;
    max-height: 500px;
    width: 100%;
    display: grid;
    border-radius: 10px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 6% 6% 7% 6%;
    gap: 1em;


    &.theme-1 {
        background-color: hsl(223, 31%, 20%);
    }

    &.theme-2 {
        background-color: hsl(0, 5%, 81%);
    }

    &.theme-3 {
        background-color: hsl(268, 71%, 12%);
    }

    

    button {
        position: relative;
        font-family: $font-stack;
        font-size: 1.5em;
        border: none;
        border-radius: 5px;
        padding: .7em 0 .6em 0;
        cursor: pointer;
    }

    .reset {
        grid-column: 1 / span 2;
    }

    .reset, .del {  
        font-size: 1em;
    }

    .equals {
        font-size: 1em;
        grid-column: 3 / span 2;
    }

}


.attribution { 
    font-size: .5em; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

@media screen and (min-width: 1201px){
    body {
        padding-bottom: 2%;
    }

    #content-container {
        width: 40%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    } 

    #display-box {
        font-size: 3em;
    }

    #keypad {
        height: auto;
        gap: 2em;

        button {
            font-size: 1.8em;
            border-radius: 10px;
            padding: .5em 0 .4em 0;
        }
    }
}