@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "Spartan", sans-serif;
  color: #fff;
  padding: 6%;
}
body.theme-1 {
  background-color: #3a4764;
}
body.theme-2 {
  background-color: #e6e6e6;
}
body.theme-3 {
  background-color: #160628;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2em;
}
.logo.theme-1 {
  color: #fff;
}
.logo.theme-2 {
  color: #35352c;
}
.logo.theme-3 {
  color: #ffe53d;
}

#display-box {
  width: 100%;
  display: block;
}
#display-box.theme-1 {
  background-color: #182034;
}
#display-box.theme-2 {
  background-color: #ededed;
}
#display-box.theme-3 {
  background-color: #1d0934;
}

#keys-container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
#keys-container.theme-1 {
  background-color: #232c43;
}
#keys-container.theme-2 {
  background-color: #d1cccc;
}
#keys-container.theme-3 {
  background-color: #1d0934;
}
#keys-container button {
  font-family: "Spartan", sans-serif;
  font-size: 2em;
}
#keys-container .reset {
  grid-column: 1/span 2;
}
#keys-container .equals {
  grid-column: 3/span 2;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
