@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Spartan", sans-serif;
  color: #fff;
  padding: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body.theme-1 {
  background-color: #3a4764;
}
body.theme-2 {
  background-color: #e6e6e6;
}
body.theme-3 {
  background-color: #160628;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2em;
}
.logo.theme-1 {
  color: #fff;
}
.logo.theme-2 {
  color: #35352c;
}
.logo.theme-3 {
  color: #ffe53d;
}

main {
  width: 100%;
}

#display-box {
  width: 100%;
  height: 5em;
  border-radius: 10px;
  margin-bottom: 1.4em;
  display: block;
  text-align: right;
}
#display-box.theme-1 {
  background-color: #182034;
}
#display-box.theme-2 {
  background-color: #ededed;
}
#display-box.theme-3 {
  background-color: #1d0934;
}

.keys-container {
  position: relative;
  width: 100%;
  display: block;
  height: auto;
  z-index: 0;
}

#keypad {
  position: relative;
  width: 100%;
  display: grid;
  border-radius: 10px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  padding: 6% 6% 7% 6%;
  gap: 1em;
}
#keypad.theme-1 {
  background-color: #232c43;
}
#keypad.theme-2 {
  background-color: #d1cccc;
}
#keypad.theme-3 {
  background-color: #1d0934;
}
#keypad button {
  position: relative;
  font-family: "Spartan", sans-serif;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  padding: 0.7em 0;
}
#keypad button.theme-1 {
  background-color: #eae3dc;
}
#keypad button.theme-1::after {
  background-color: #b4a597;
}
#keypad button.theme-2 {
  background-color: #e5e4e1;
}
#keypad button.theme-2::after {
  background-color: #a69d91;
}
#keypad button.theme-3 {
  background-color: #341c4f;
}
#keypad button.theme-3::after {
  background-color: #871c9c;
}
#keypad button::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 5px;
  left: 0;
}
#keypad .reset {
  grid-column: 1/span 2;
}
#keypad .reset, #keypad .del {
  color: #fff;
  font-size: 1em;
}
#keypad .reset.theme-1, #keypad .del.theme-1 {
  background-color: #637097;
}
#keypad .reset.theme-2, #keypad .del.theme-2 {
  background-color: #377f86;
}
#keypad .reset.theme-3, #keypad .del.theme-3 {
  background-color: #58077d;
}
#keypad .equals {
  color: #fff;
  font-size: 1em;
  grid-column: 3/span 2;
}
#keypad .equals.theme-1 {
  background-color: #d03f2f;
}
#keypad .equals.theme-2 {
  background-color: #ca5502;
}
#keypad .equals.theme-3 {
  background-color: #bc15f4;
}

.attribution {
  font-size: 0.5em;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
