@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
/* Graphic design section/footer text */
/* Section text */
/* Neutral Colors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.hero {
  position: relative;
  color: #fff;
  height: 80%;
  background: url(img/mobile/image-header.jpg) center center/cover no-repeat;
  padding: 10% 8%;
  overflow: hidden;
}
.hero header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .hamburger-icon {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 1.6em;
  width: 2em;
  background: url(img/icon-hamburger.svg) center center/cover;
  opacity: 60%;
  cursor: pointer;
}
.hero .hamburger-icon:checked ~ .main-menu {
  transform: none;
  transition: transform 200ms ease;
}
.hero nav {
  position: absolute;
  top: 22%;
  transform: translateX(100vw);
  background: #fff;
  width: 84%;
  height: 50%;
  z-index: 10;
  padding-bottom: 1em;
  font-family: "Barlow", sans-serif;
  transition: transform 200ms ease;
}
.hero nav::before {
  position: absolute;
  top: -27px;
  right: 0px;
  content: "";
  height: 0;
  width: 0;
  border-right: solid #fff 14px;
  border-bottom: solid #fff 14px;
  border-left: solid transparent 14px;
  border-top: solid transparent 14px;
}
.hero nav ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
}
.hero nav li {
  text-align: center;
}
.hero nav a {
  color: #818498;
}
.hero nav .contact {
  margin-top: 0.8em;
}
.hero nav .contact a {
  color: #23303e;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  padding: 1em 1.8em;
  background: #fad400;
  border-radius: 3em;
}
.hero h1 {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  margin: 1.2em 0 1em 0;
}
.hero .arrow-icon {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

a {
  text-decoration: none;
}

.brand-showcase {
  display: grid;
  grid-template-areas: "transform-img" "transform" "stand-out-img" "stand-out";
}
.brand-showcase .grid-image {
  width: 100%;
}
.brand-showcase .grid-image.transform {
  grid-area: transform-img;
}
.brand-showcase .grid-image.stand-out {
  grid-area: stand-out-img;
}

.blurb-card {
  width: 100%;
  font-family: "Fraunces", serif;
  padding: 16% 8%;
  text-align: center;
}
.blurb-card h2 {
  color: #23303e;
  font-size: 2em;
  margin-bottom: 0.8em;
}
.blurb-card .blurb {
  font-family: "Barlow", sans-serif;
  line-height: 1.8;
  color: #818498;
  margin-bottom: 1.2em;
}
.blurb-card a {
  text-transform: uppercase;
  color: #23303e;
  position: relative;
}
.blurb-card a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -7%;
  width: 114%;
  height: 10px;
  border-radius: 1em;
  z-index: -1;
  opacity: 0.3;
}
.blurb-card.transform {
  grid-area: transform;
}
.blurb-card.transform a::after {
  background: #fad400;
}
.blurb-card.stand-out {
  grid-area: stand-out;
}
.blurb-card.stand-out a::after {
  background: #fe7867;
}

.services {
  display: grid;
  grid-template-areas: "graphic-design" "photography";
}

.service-card {
  width: 100%;
  position: relative;
  text-align: center;
}
.service-card .service-text {
  position: absolute;
  z-index: 2;
  bottom: 12%;
  padding: 0 8%;
  line-height: 1.6;
}
.service-card .service-text .service {
  font-family: "Fraunces", serif;
  font-size: 1.8em;
  margin-bottom: 0.5em;
}
.service-card .service-text .service-info {
  font-family: "Barlow", sans-serif;
  font-size: 0.9em;
}
.service-card img {
  display: block;
  width: 100%;
}
.service-card.graphic-design {
  color: #25564b;
  grid-area: graphic-design;
}
.service-card.photography {
  color: #19536b;
  grid-area: photography;
}

.client-testimonials {
  width: 100%;
  padding: 5em 8% 3em;
  text-align: center;
}
.client-testimonials .testimonials-container {
  max-width: 100%;
  display: flex;
  /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 1.5em;*/
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5em;
}
.client-testimonials h3 {
  color: #a7abae;
  font-size: 1em;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  letter-spacing: 0.2em;
  margin-bottom: 3.5em;
}
.client-testimonials .testimonial {
  max-width: 375px;
  color: #23303e;
  font-family: "Barlow", sans-serif;
  margin-bottom: 2em;
}
.client-testimonials .testimonial .client-avatar {
  border-radius: 50%;
  height: 5em;
  margin-bottom: 1.6em;
}
.client-testimonials .testimonial .testimonial-text {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 1.8em;
}
.client-testimonials .testimonial .client-name {
  font-family: "Fraunces", serif;
  font-size: 1.3em;
  margin-bottom: 0.4em;
}
.client-testimonials .testimonial .client-occupation {
  color: #a7abae;
  font-size: 0.9em;
}

.footer-image-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.footer-image-grid img {
  width: 100%;
}

footer {
  position: relative;
  background: #9bdbcb;
  color: #458c7e;
  padding: 4em 8%;
  font-family: "Barlow", sans-serif;
}
footer .logo {
  position: relative;
  fill: #458c7e;
  height: 2em;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 80px;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4.5em;
}
footer a {
  color: #458c7e;
}
footer .social-nav {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
}
footer .social-nav img {
  height: 1.5em;
  width: 1.5em;
}
footer .attribution {
  font-size: 0.7em;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
footer .attribution a {
  color: #25564b;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 85%;
    background: url(img/desktop/image-header.jpg) center center/cover no-repeat;
  }
  .hero .hamburger-icon {
    height: 2em;
    width: 2.5em;
  }
  .hero nav {
    font-size: 1.4em;
  }
  .hero header img {
    height: 2.2em;
  }
}
