/* Primary Colors */
/* Footer */
$dark-cyan: hsl(168, 34%, 41%); 
/* Graphic design section/footer text */
$dark-cyan-desat: hsl(167, 40%, 24%);
/* Photography section text */
$dark-blue: hsl(198, 62%, 26%);

/* Neutral Colors */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}