@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

/* Graphic design section/footer text */
$dark-cyan-desat: hsl(167, 40%, 24%);
/* Section text */
$dark-blue: hsl(198, 62%, 26%);
$very-dark-blue: hsl(212, 27%, 19%);

$sans-serif-font-stack: 'Barlow', sans-serif;
$serif-font-stack: 'Fraunces', serif;

$mobile-side-padding: 8%;
$desktop-side-padding: 20%;

/* Neutral Colors */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}


.hero {
    position: relative;
    color: #fff;
    height: 80%;
    background: url(img/mobile/image-header.jpg) center center/cover no-repeat;
    padding: 10% $mobile-side-padding;
    overflow: hidden;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger-icon {
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 1.6em;
        width: 2em;
        background: url(img/icon-hamburger.svg) center center/cover;
        opacity: 60%;
        cursor: pointer;

        &:checked ~ .main-menu {
            transform: none;
            transition: transform 200ms ease;
        }
    }
 
    nav {
        position: absolute;
        top: 22%;
        transform: translateX(100vw);
        background: #fff;
        width: 84%;
        height: 50%;
        z-index: 10;
        padding-bottom: 1em;
        font-family: $sans-serif-font-stack;
        transition: transform 200ms ease;

        &::before {
            position: absolute;
            top: -27px;
            right: 0px;
            content: '';
            height: 0;
            width: 0;
            border-right: solid #fff 14px;
            border-bottom: solid #fff 14px;
            border-left: solid transparent 14px;
            border-top: solid transparent 14px;
        }

        ul {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            list-style: none;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
        }

        li {
            text-align: center;
        }

        a {
            color: hsl(232, 10%, 55%);
        }

        .contact {
            margin-top: .8em;

            a {
                color: hsl(212, 27%, 19%);
                font-family: $serif-font-stack;
                text-transform: uppercase;
                padding: 1em 1.8em;
                background: hsl(51, 100%, 49%);
                border-radius: 3em;
            }
        }

    }

    h1 {
        font-family: $serif-font-stack;
        text-transform: uppercase;
        text-align: center;
        font-size: 3em;
        letter-spacing: .2em;
        margin: 1.2em 0 1em 0;
    }

    .arrow-icon {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

a {
    text-decoration: none;
}



.brand-showcase {
    display: grid;
    grid-template-areas: 
        "transform-img"
        "transform"
        "stand-out-img"
        "stand-out";
    

    .grid-image {
        width: 100%;

        &.transform {
            grid-area: transform-img;
        }

        &.stand-out {
            grid-area: stand-out-img;
        }
    }
}

.blurb-card {
    width: 100%;
    font-family: $serif-font-stack;
    padding: 16% $mobile-side-padding;
    text-align: center;

    h2 {
        color: $very-dark-blue;
        font-size: 2em;
        margin-bottom: .8em;
    }

    .blurb {
        font-family: $sans-serif-font-stack;
        line-height: 1.8;
        color: hsl(232, 10%, 55%);
        margin-bottom: 1.2em;
    }

    a {
        text-transform: uppercase;
        color: $very-dark-blue;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: -7%;
            width: 114%;
            height: 10px;
            border-radius: 1em;
            z-index: -1;
            opacity: .3;

        }

    }

    &.transform {
        grid-area: transform;

        a::after {
            background: hsl(51, 100%, 49%);
        }
    }

    &.stand-out {
        grid-area: stand-out;

        a::after {
            background: hsl(7, 99%, 70%);
        }
    }

}

.services {
    display: grid;
    grid-template-areas: 
        "graphic-design"
        "photography";
}


.service-card {
    width: 100%;
    position: relative;
    text-align: center;

    .service-text {
        position: absolute;
        z-index: 2;
        bottom: 12%;
        padding: 0 $mobile-side-padding;
        line-height: 1.6;

        .service {
            font-family: $serif-font-stack;
            font-size: 1.8em;
            margin-bottom: .5em;
        }

        .service-info {
            font-family: $sans-serif-font-stack;
            font-size: .9em;
        }
    }

    img {
        display: block;
        width: 100%;
    }

    &.graphic-design {
        color: $dark-cyan-desat;
        grid-area: graphic-design;
    }

    &.photography {
        color: $dark-blue;
        grid-area: photography;
    }
}

.client-testimonials {
    width: 100%;
    padding: 5em $mobile-side-padding 3em;
    text-align: center;

    .testimonials-container {
        max-width: 100%;
        display: flex;
        /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        column-gap: 1.5em;*/
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5em;
    }

    h3 {
        color: hsl(210, 4%, 67%);
        font-size: 1em;
        text-transform: uppercase;
        font-family: $serif-font-stack;
        letter-spacing: .2em;
        margin-bottom: 3.5em;
    }

    .testimonial {
        max-width: 375px;
        color: $very-dark-blue;
        font-family: $sans-serif-font-stack;
        margin-bottom: 2em;

        .client-avatar {
            border-radius: 50%;
            height: 5em;
            margin-bottom: 1.6em;
        }

        .testimonial-text {
            font-size: 1em;
            line-height: 1.4;
            margin-bottom: 1.8em;
        }

        .client-name {
            font-family: $serif-font-stack;
            font-size: 1.3em;
            margin-bottom: .4em;
        }

        .client-occupation {
            color: hsl(210, 4%, 67%);
            font-size: .9em;
        }
    }
}


.footer-image-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    img {
        width: 100%;
        display: block;
    };
}

footer {
    position: relative;
    background: #9bdbcb;
    color:  hsl(168, 34%, 41%);
    padding: 4em $mobile-side-padding;
    font-family: $sans-serif-font-stack;

    .logo {
        position: relative;
        fill: hsl(168, 34%, 41%);
        height: 2em;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 80px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 4.5em;
    }

    a {
        color: hsl(168, 34%, 41%);
    }

    .social-nav {
        position: relative;
        width: 60%;
        display: flex;
        justify-content: space-between;
        left: 50%;
        transform: translateX(-50%);

        img {
            height: 1.5em;
            width: 1.5em;
        }
    }

    .attribution {
        font-size: .7em;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        white-space: nowrap;

        a {
            color: hsl(167, 40%, 24%);
        }

    }
}


@media screen and (min-width: 768px) {

    .hero {
        height: 85%;
        background: url(img/desktop/image-header.jpg) center center/cover no-repeat;

        .hamburger-icon {
            height: 2em;
            width: 2.5em;
        }
        
        nav {
            font-size: 1.4em;

            ul {
                transform: none;
            }
        }
    
        header img {
            height: 2.2em;
        }    

        h1 {
            font-size: 4em;
            margin: 2em 0 1.6em 0;
        }

    }


    .brand-showcase {
        grid-template-areas: 
            "transform transform transform-img"
            "stand-out-img stand-out stand-out";
        grid-template-columns: 33.33% 33.33% 33.33%;   
        
        .grid-image {
            height: 100%;
            object-fit: cover;
        }
        
        .blurb-card {
            text-align: left;
            padding: 8% $mobile-side-padding;

            h2 {
                font: 1em;
                margin-bottom: .6em;
            }

            .blurb {
                font-size: .9em;
            }

            a {
                font-size: .9em;
            }
            
        }
    }

    .services {
        grid-template-areas: 
            "graphic-design photography";
    }

    .footer-image-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    footer ul {
        margin-bottom: 3em;
    }

    footer .social-nav {
        width: 40%;
    }

}


@media screen and (min-width: 1200px) {

    .hero {
        padding: 3%;

        .hamburger-icon {
            display: none;
        }

        nav {
            display: inline-block;
            transform: none;
            background: none;
            position: relative;
            top: initial;
            width: auto;
            height: auto;
            padding: 0;
            transition: none;

            &::before {
                display: none;
            }


            ul {
                display: inline-block;
            }

            li {
                display: inline;
                margin-left: 2em;
            }

            a {
                color: #fff;
                font-size: .8em;
            }

            .contact a {
                background: #fff;
                transition: all 200ms ease;

                &:hover {
                    background: hsl(51, 100%, 49%);
                    transition: all 200ms ease;
                }
            }

        }
    }

}
    





