@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spartan&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #E7ECEF;
    color: #274C77;
    font-family: 'Roboto', Helvetica, sans-serif;
}


h1 {
    display: block;
    text-align: center;
    position: relative;
    margin: 10% 0 3rem 50%;
    transform: translateX(-50%);
    font-family: 'Spartan', Helvetica, sans-serif;
}


.container {
     /* Positioning */
    display: block;
    width: 40%;
    min-width: 450px;
    margin-left: 50%;
    transform: translateX(-50%);

    /* Appearance */
    background-color: #FFF;
    border-radius: .6rem;
    padding: 2.5rem;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, .1);

    /* Child Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar-container {
    position: relative;
    margin-bottom: 2rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    z-index: 20;
}

.avatar-container::after {
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: .5rem;
    top: -.35rem;
    background-color: #274C77;
    z-index: -1;
}


.reviewer-name {
    font-weight: bold;
    letter-spacing: .12rem;
    margin-bottom: .3rem;
    font-size: 1.2rem;
    font-family: 'Spartan', Helvetica, sans-serif;
}


.reviewer-occupation {
    text-transform: uppercase;
    color: #6096BA;
    font-size: .8rem;
    margin-bottom: 1.2rem;
}

.review-text {
    text-align: center;
    margin-bottom: 2rem;
}

.review-nav {
    width: 15%;
    margin-bottom: 2.2rem;
    display: flex;
    justify-content: space-between;
}

.arrow-btn {
    display: inline-block;
    border: solid #6096BA;
    border-width: 4px 4px 0 0;
    border-radius: .1rem;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0);
}

button:focus {
    outline: none;

}

button:hover {
    cursor: pointer;
}

.previous {
    transform: rotate(-135deg);
}

.next {
    transform: rotate(45deg);
}

.btn { 
    color: #E7ECEF;
    background-color: #274C77;
    border: none;
    border-radius: 5em;
    padding: 10px 18px;
    text-align: center;
}




