@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  background-color: hsl(148, 38%, 91%);
  font-family: "Karla", sans-serif;
  color: hsl(187, 24%, 22%);
  padding: 5%;
}

#form-container {
  background-color: #fff;
  border-radius: 0.8em;
  padding: 6%;
  margin-bottom: 1em;
}

h1 {
  margin-bottom: 1.1em;
}

form {
  font-size: 0.9em;
  display: grid;
}
form label {
  display: inline-block;
  margin-bottom: 0.8em;
}

.bordered {
  display: block;
  border: solid 1px hsla(187, 24%, 22%, 0.5);
  border-radius: 0.5em;
  width: 100%;
  height: 3.5em;
  padding: 1em;
  margin-bottom: 0.8em;
}
.bordered:focus, .bordered:hover {
  outline: none;
  border: solid 1px hsl(169, 82%, 27%);
}

.multi-field-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.field {
  margin-bottom: 0.8em;
  width: 100%;
}

.input-label-group {
  display: flex;
  align-items: center;
}
.input-label-group:has(input[type=radio]:checked) {
  background-color: hsl(148, 38%, 91%);
}

.consent {
  margin: 1.2em 0 2.3em 0;
}
.consent label {
  margin: 0;
}

.message {
  height: initial;
}

fieldset {
  border: none;
  margin-bottom: 0.8em;
}
fieldset legend {
  margin-bottom: 0.8em;
}
fieldset .bordered {
  padding: 0;
}
fieldset input, fieldset label {
  margin-bottom: 0;
}
fieldset label {
  margin-left: 0.8em;
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
}
fieldset .error-msg {
  margin: 0;
}

input {
  color: hsl(187, 24%, 22%);
  cursor: pointer;
}

label {
  cursor: pointer;
}

input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: grid;
  place-content: center;
  margin-left: 1em;
  height: 1.2em;
  width: 1.2em;
  border: 1px solid hsla(186, 15%, 59%, 0.5);
  border-radius: 50%;
}
input[type=radio]:checked {
  border: 2px solid hsl(169, 82%, 27%);
}
input[type=radio]:checked::before {
  display: block;
  content: "";
  height: 0.6em;
  width: 0.6em;
  border-radius: 50%;
  box-shadow: inset 1em 1em hsl(169, 82%, 27%);
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  margin-right: 0.8em;
  display: grid;
  place-content: center;
  height: 1em;
  width: 1em;
  border: 1px solid hsla(187, 24%, 22%, 0.6);
  border-radius: 0.1em;
}
input[type=checkbox]:checked {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input[type=checkbox]:checked::before {
  position: absolute;
  content: "";
  background: url(/assets/images/icon-checkbox-check.svg) center/cover no-repeat;
  height: 1em;
  width: 1em;
  top: -1px;
  left: -1px;
}

textarea {
  font-family: "Karla", sans-serif;
  color: hsl(187, 24%, 22%);
  resize: vertical;
}

.required::after {
  content: "*";
  color: hsl(169, 82%, 27%);
  margin-left: 0.3em;
}

input[type=submit] {
  background-color: hsl(169, 82%, 27%);
  border: none;
  border-radius: 0.5em;
  width: 100%;
  height: 3.2em;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0.05em;
}
input[type=submit]:hover {
  background-color: hsl(171, 72%, 14%);
}

.error-msg {
  display: none;
  color: hsl(0, 66%, 56%);
  margin-top: 0.8em;
}

#success-msg {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(169, 82%, 27%);
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 6% 28% 5% 28%;
    position: relative;
  }
  h1 {
    margin-bottom: 1em;
  }
  form {
    font-size: 0.9em;
  }
  .multi-field-container {
    flex-direction: row;
    -moz-column-gap: 1em;
         column-gap: 1em;
  }
  .message {
    height: 7.5em;
    font-size: 1em;
  }
  footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
  }
}