@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  background: url(./img/bg-intro-mobile.png) #ff7a7a;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 5.8em 1.8em 3em 1.8em;
  color: #fff;
}

h1 {
  font-weight: 600;
  font-size: 1.8em;
  line-height: 1.3em;
  margin-bottom: .8em;
}

.blurb {
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 3em;
}

.cta {
  width: 100%;
  background-color: #6055a5;
  border-radius: .7em;
  padding: 1.2em 3em;
  -webkit-box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 2em;
}

.cta span {
  font-weight: 700;
}

#signup {
  width: 100%;
  background-color: #fff;
  padding: 1.2em;
  border-radius: .7em;
  -webkit-box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 2em;
}

#signup .input-field {
  margin-bottom: 1.2em;
}

#signup input:not([type=submit]) {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  width: 100%;
  border: solid 1px rgba(185, 182, 211, 0.5);
  color: rgba(62, 60, 73, 0.7);
  border-radius: .4em;
  padding: 1.4em;
  caret-color: #3e3c49;
}

#signup input:not([type=submit])::-webkit-input-placeholder {
  position: relative;
  color: rgba(62, 60, 73, 0.7);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  top: 1px;
}

#signup input:not([type=submit]):-ms-input-placeholder {
  position: relative;
  color: rgba(62, 60, 73, 0.7);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  top: 1px;
}

#signup input:not([type=submit])::-ms-input-placeholder {
  position: relative;
  color: rgba(62, 60, 73, 0.7);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  top: 1px;
}

#signup input:not([type=submit])::placeholder {
  position: relative;
  color: rgba(62, 60, 73, 0.7);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  top: 1px;
}

#signup input:not([type=submit]):focus {
  outline: none;
  border: solid 1px #3e3c49;
}

#signup input:not([type=submit]).error {
  background: 95% center no-repeat url(./img/icon-error.svg);
  border: solid 2px rgba(255, 122, 122, 0.6);
}

#signup input:not([type=submit]).error::-webkit-input-placeholder {
  color: rgba(255, 122, 122, 0.7);
}

#signup input:not([type=submit]).error:-ms-input-placeholder {
  color: rgba(255, 122, 122, 0.7);
}

#signup input:not([type=submit]).error::-ms-input-placeholder {
  color: rgba(255, 122, 122, 0.7);
}

#signup input:not([type=submit]).error::placeholder {
  color: rgba(255, 122, 122, 0.7);
}

#signup .error {
  background-image: url(./img/icon-error.svg);
}

#signup .error-msg {
  color: rgba(255, 122, 122, 0.7);
  text-align: right;
  font-style: italic;
  font-weight: 500;
  font-size: .8em;
  margin-top: .5em;
}

#signup label {
  border-width: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

#signup input[type="submit"] {
  width: 100%;
  background-color: #38cc8c;
  -webkit-box-shadow: 0 4px 0 #2abb7c;
          box-shadow: 0 4px 0 #2abb7c;
  border: none;
  border-radius: .4em;
  padding: 1.2em 0;
  color: #fff;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 600;
  margin-bottom: 1.2em;
}

#signup .TS-agreement {
  color: #b9b6d3;
  font-size: .7em;
  font-weight: 500;
  padding: 0 1em;
  line-height: 1.8em;
}

#signup .TS-agreement a {
  text-decoration: none;
  color: #ff7a7a;
  font-weight: 700;
}

.attribution {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  opacity: 60%;
  padding-bottom: 10px;
  font-size: 10px;
  text-align: center;
  font-weight: 600;
}

.attribution a {
  color: #3e52a3;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  html, body {
    height: 100%;
    width: 100%;
  }
  main {
    height: 80vh;
    width: 75vw;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #hero {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2em;
  }
  h1 {
    margin-bottom: .6em;
    font-size: 3.3em;
    line-height: 1.2em;
    font-weight: 700;
  }
  .blurb {
    font-size: 1.1em;
  }
  .column-2 {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cta {
    font-size: 1em;
    padding: 1.5em;
  }
  #signup {
    padding: 2.5em;
  }
  #signup input[type=submit] {
    font-size: 1.1em;
  }
  #signup input[type=submit]:hover {
    cursor: pointer;
    background-color: #83ecbf;
  }
  #signup .TS-agreement {
    font-size: .8em;
  }
  #signup-form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
