@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #121417;
  font-family: "Overpass", sans-serif;
  color: #fff;
}

#card-container {
  background: radial-gradient(circle at center top, #252d37, rgba(37, 45, 55, 0.4));
  border-radius: 1em;
  width: 90%;
  height: 55%;
  max-height: 400px;
  max-width: 400px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1.7em;
}

#card-container p {
  font-size: .9em;
  opacity: .4;
  line-height: 1.5em;
}

.card-heading {
  font-size: 1.4em;
  font-weight: 700;
}

/* Rating state styles */
#rating-state {
  height: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#rating-state .star-icon {
  display: inline;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: rgba(124, 135, 152, 0.1);
  padding: .75em;
  border-radius: 3em;
}

#rating-state .ratings-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

#rating-state input[type=radio] {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5em;
  opacity: .4;
  border-radius: 3em;
  border: none;
  cursor: pointer;
}

#rating-state input[type=radio]:checked {
  opacity: 1;
  background-color: #7c8798;
}

#rating-state input[type=radio]:checked + label {
  color: white;
}

#rating-state .rating-option {
  position: relative;
}

#rating-state label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.3);
}

#rating-state input[type=submit] {
  background-color: #fb7413;
  width: 100%;
  padding: 1em;
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .2em;
  border-radius: 3em;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Thank you state styles */
#thankyou-state {
  display: none;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

#thankyou-state .thankyou-illustration {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.selection-text {
  font-size: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: .4em .8em .2em .8em;
  border-radius: 3em;
  color: #fb7413;
  opacity: .7;
  background-color: rgba(124, 135, 152, 0.2);
}

.attribution {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-bottom: 10px;
  font-size: 11px;
  text-align: center;
  opacity: .4;
}

.attribution a {
  color: #fb7413;
  cursor: pointer;
  text-decoration: none;
}

/* Tablets and desktop */
@media screen and (min-width: 700px) {
  #card-container {
    padding: 2.2em;
  }
  .card-heading {
    font-size: 1.8em;
  }
  #rating-state .star-icon {
    padding: 1em;
  }
  #rating-state .ratings-container {
    margin-bottom: 1.4em;
  }
  #rating-state input[type=radio] {
    padding: 1.9em;
  }
  #rating-state input[type=radio]:hover {
    opacity: 1;
    background-color: #fb7413;
    cursor: pointer;
  }
  #rating-state input[type=radio]:hover + label {
    color: white;
  }
  #rating-state input[type=radio]:checked:hover {
    background-color: #7c8798;
  }
  #rating-state label {
    cursor: pointer;
  }
  #rating-state input[type=submit] {
    font-size: 1em;
  }
  #rating-state input[type=submit]:hover {
    background-color: #fff;
    color: #fb7413;
  }
}
