@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    font-family: "Overpass", sans-serif;
    color: #fff;
}

#card-container {
    background: radial-gradient(circle at center top, hsla(213, 19%, 18%, 1), hsla(213, 19%, 18%, .4));
    border-radius: 1em;
    width: 90%;
    height: 55%;
    max-height: 400px;
    max-width: 400px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.7em;

    p {
        font-size: .9em;
        opacity: .4;
        line-height: 1.5em;
    }
}

.card-heading {
    font-size: 1.4em;
    font-weight: 700;
}

/* Rating state styles */

#rating-state {
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content:  space-between;

    .star-icon {
        display: inline;
        align-self: flex-start;
        background-color: hsla(216, 12%, 54%, .1);
        padding:.75em;
        border-radius: 3em;
    }

    .ratings-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1em;
    }

    input[type=radio]{  
        position: relative;
        appearance: none;
        background-color: rgba(255, 255, 255, .1);
        padding: 1.5em;
        opacity: .4;
        border-radius: 3em;
        border: none;
        cursor: pointer;
        

        &:checked {
            opacity: 1;
            //color: rgba(255, 255, 255, .4);
            background-color: hsl(216, 12%, 54%);

            + label {
                color: rgba(255, 255, 255, 1);
            }
        }
    }

    .rating-option {
        position: relative;
    }

    label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(255, 255, 255, .3);
    }

    input[type=submit] {
        background-color: hsl(25, 97%, 53%);
        width: 100%;
        padding: 1em;
        font-size: .8em;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .2em;
        border-radius: 3em;
        border: none;
        color: #fff;
        cursor: pointer;
    }
}

/* Thank you state styles */

#thankyou-state {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;    
    text-align: center;

    .thankyou-illustration {
        align-self: center;
    }
}

.selection-text {
    font-size: 1em;
    align-self: center;
    padding: .4em .8em .2em .8em;
    border-radius: 3em;
    color: hsl(25, 97%, 53%);
    opacity: .7;
    background-color: hsla(216, 12%, 54%, .2);
}



.attribution { 
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 10px;
    font-size: 11px; 
    text-align: center; 
    opacity: .4;
    

    a { 
        color: hsl(25, 97%, 53%); 
        cursor: pointer;
        text-decoration: none;
    }        
    
}

/* Tablets and desktop */
@media screen and (min-width: 700px){

    #card-container {
        padding: 2.2em;
    }

    .card-heading {
        font-size: 1.8em;
    }

    #rating-state {

        .star-icon {
            padding: 1em;
        }

        .ratings-container {
            margin-bottom: 1.4em;
        }

        input[type=radio]{
            padding: 1.9em;

            &:hover {
                opacity: 1;
                background-color: hsl(25, 97%, 53%);
                cursor: pointer;
            }
        }

        input[type=radio]:hover + label {
            color: rgba(255, 255, 255, 1);
        }

        input[type=radio]:checked:hover {
            background-color: hsl(216, 12%, 54%);
        }

        label {
            cursor: pointer;
        }

        input[type=submit]{
            font-size: 1em;

            &:hover {
                background-color: #fff;
                color: hsl(25, 97%, 53%);
            }
        }
    }

   

}