@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

#hero {
    background: url(img/mobile/image-hero.jpg) center center/cover no-repeat;
    height: 100vh;
    width: 100vw;
    padding: 6%;
}


header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 1.4em;
}

.logo, #hamburger-menu-icon {
    z-index: 3;
}

#header-navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #000;
    padding-left: 6%;
    text-transform: uppercase;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 200ms ease;
}

header ul {
    position: relative;
    top: 40%;
    transform: translateY(-25%);
}

header li {
    font-size: 1.8em;
    margin-bottom: 1em;
}

h1 {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    font-size: 2.7em;
    text-transform: uppercase;
    width: 100%;
    border:solid 2px #fff;
    padding: 7% 7% 6% 7%;
    text-align: left;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

header input {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 1.5em;
    width: 2em;
    background: url(img/icon-hamburger.svg) center center/auto no-repeat;
    cursor: pointer;
}

#hamburger-menu-icon:checked {
    background: url(img/icon-close.svg) center center/auto no-repeat;  
}

#hamburger-menu-icon:checked ~ #header-navigation {
    transform: none;
    transition: transform 200ms ease;
}

section {
    padding: 6%;
}

.leader {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.leader img {
    width: 100%;
    margin-top: 20%;
    margin-bottom: 15%;
}

h2 {
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: .8em;
    color: #000;
}

p {
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 55%);
    font-size: .9em;
    line-height: 1.6em;
    padding: 0 10%;
}

.our-creations {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "creations-heading" 
        "thumbnails" 
        "see-all";
    margin-bottom: 20%;       
}

.our-creations h2 {
    grid-area: creations-heading;
}

.see-all {
    grid-area: see-all;
    justify-self: center;
    color: #000;
    text-transform: uppercase;
    font-family: 'Alata', sans-serif;
    font-size: .8em;
    letter-spacing: .5em;
    padding: .8em 2.5em;
    border: solid 1px #000;
}

.thumbnail-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 1.5em;
    grid-area: thumbnails;
    padding: 8% 0 10% 0;
}

.thumbnail {
    position: relative;
    height: 5em;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.5em;
}

.thumbnail .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 6% 6%;
}

.deep-earth {
    background: url(img/mobile/image-deep-earth.jpg) center center/cover no-repeat;
}

.night-arcade {
    background: url(img/mobile/image-night-arcade.jpg) center center/cover no-repeat;
}

.soccer-team {
    background: url(img/mobile/image-soccer-team.jpg) center center/cover no-repeat;
}

.grid {
    background: url(img/mobile/image-grid.jpg) center center/cover no-repeat;
}

.from-above {
    background: url(img/mobile/image-from-above.jpg) center center/cover no-repeat;
}

.pocket-borealis {
    background: url(img/mobile/image-pocket-borealis.jpg) center center/cover no-repeat;
}

.curiosity {
    background: url(img/mobile/image-curiosity.jpg) center center/cover no-repeat;
}

.fisheye {
    background: url(img/mobile/image-fisheye.jpg) center center/cover no-repeat;
}


footer {
    background: #000;
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-size: .9em;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}