@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

#hero {
    background: url(img/mobile/image-hero.jpg) center center/cover no-repeat;
    height: 100vh;
    width: 100vw;
    padding: 6%;
    overflow: hidden;
    text-align: left;
}


header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 1.4em;
}

.logo, #hamburger-menu-icon {
    z-index: 3;
}

#header-navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #000;
    padding-left: 6%;
    text-transform: uppercase;
    text-align: left;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 200ms ease;
}

header ul {
    position: relative;
    top: 40%;
    transform: translateY(-25%);
}

header li {
    font-size: 1.8em;
    margin-bottom: 1em;
}

h1 {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    font-size: 2.7em;
    text-transform: uppercase;
    border:solid 2px #fff;
    padding: 7%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

header input {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 1.1em;
    width: 1.6em;
    background: url(img/icon-hamburger.svg) center center/cover no-repeat;
    cursor: pointer;
}

#hamburger-menu-icon:checked {
    background: url(img/icon-close.svg) center center/cover no-repeat;  
}

#hamburger-menu-icon:checked ~ #header-navigation {
    transform: none;
    transition: transform 200ms ease;
}

section {
    padding: 6%;
}

.leader {
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.interactive-image-mobile {
    width: 100%;
    margin-top: 20%;
    margin-bottom: 15%;
}

.interactive-image-desktop {
    display: none;
}

h2 {
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 10%;
    color: #000;
}

p {
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 55%);
    font-size: .9em;
    line-height: 1.6em;
    padding: 0 10%;
}

.our-creations {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "creations-heading" 
        "thumbnails" 
        "see-all";
    margin-bottom: 20%;       
}

.our-creations h2 {
    grid-area: creations-heading;
    display: block;
}

.see-all {
    grid-area: see-all;
    justify-self: center;
    color: #000;
    text-transform: uppercase;
    font-family: 'Alata', sans-serif;
    font-size: .8em;
    letter-spacing: .5em;
    padding: .8em 2.5em;
    border: solid 1px #000;
}

.thumbnail-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 1.5em;
    grid-area: thumbnails;
    padding-bottom: 10%
}

.thumbnail {
    position: relative;
    height: 5em;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.5em;
}

.thumbnail .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 6% 6%;
}

.deep-earth {
    background: url(img/mobile/image-deep-earth.jpg) center center/cover no-repeat;
}

.night-arcade {
    background: url(img/mobile/image-night-arcade.jpg) center center/cover no-repeat;
}

.soccer-team {
    background: url(img/mobile/image-soccer-team.jpg) center center/cover no-repeat;
}

.grid {
    background: url(img/mobile/image-grid.jpg) center center/cover no-repeat;
}

.from-above {
    background: url(img/mobile/image-from-above.jpg) center center/cover no-repeat;
}

.pocket-borealis {
    background: url(img/mobile/image-pocket-borealis.jpg) center center/cover no-repeat;
}

.curiosity {
    background: url(img/mobile/image-curiosity.jpg) center center/cover no-repeat;
}

.fisheye {
    background: url(img/mobile/image-fisheye.jpg) center center/cover no-repeat;
}


footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo"
        "nav"
        "social"
        "copyright"
        "attribution";
    padding: 12%;
    background: #000;
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-size: .9em;
}

footer .logo {
    grid-area: logo;
    margin-bottom: 2em;
}

footer ul {
    margin-bottom: 3em;
    grid-area: nav;
}

footer li {
    margin-bottom: 1.2em;
}

.social-icons {
    position: relative;
    grid-area: social;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.5em;
}

.copyright {
    grid-area: copyright;
    color: hsl(0, 0%, 55%);
    margin-bottom: .5em;
}

.attribution { 
    grid-area: attribution;
    font-size: .5em; text-align: center; 
}

.attribution a { 
    color: hsl(0, 0%, 55%); 
}


@media only screen and (min-width: 768px) {
    .logo img {
        height: 2.2em;
    }

    header input {
        height: 2em;
        width: 3em;
    }

    header li {
        font-size: 2.8em;
    }

    .interactive-image-mobile {
        margin-top: 10%;
    }

    h1 {
        font-size: 4.2em;
        display: inline-block;

    }

    h2 {
        font-size: 2.8em;
    }


    p, footer {
        font-size: 1.1em;
    }
}    


    
@media only screen and (min-width: 1025px) {
    #hero {
        background: url(img/desktop/image-hero.jpg) center center/cover no-repeat;
        height: 80vh;
        padding: 3% 10%;
    }

    h1 {
        top: 50%;
        font-size: 5.2em;
        padding: 3% 8% 3% 3%;
    }

    header input {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    #header-navigation {
        position: initial;
        height: auto;
        width: auto;
        background: none;
        text-transform: none;
        font-family: 'Alata', sans-serif;
        transform: none;
    }

    header ul {
        transform: none;
        position: initial;
    }

    header li, footer li {
        display: inline;
        margin-left: 3em;
        font-size: 1em;
    }

    section {
        padding: 10%;
    }

    .interactive-image-mobile {
        display: none;
    }

    .interactive-image-desktop {
        display: block;
        width: 65%;
    }

    .leader-content-wrap {
        position: relative;
        display: flex;
        align-items: flex-end;
    }

    .leader-text {
        position: absolute;
        right: 0;
        background: #fff;
        padding: 8% 0 0 8%;
        width: 48%;
        text-align: left;
    }

    h2 {
        font-size: 3.5em;
    }

    .leader-text h2 {
        margin-bottom: 8%;
    }

    p {
        padding: 0;
    }

    .our-creations {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "creations-heading see-all"
            "thumbnails thumbnails";
        margin: 0;
    }

    .our-creations h2 {
        justify-self: start;
    }

    .see-all {
        justify-self: end;
        align-self: start;
        font-size: 1em;
    }

    .thumbnail {
        height: 22em;
    }

    .thumbnail::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 150ms ease;
    }

    .thumbnail:hover {
        color: #000;
        cursor: pointer;
    }

    .thumbnail:hover::before {
        background: rgba(255, 255, 255, .7);
        transition: all 150ms ease;
    }

    .thumbnail .title {
        font-size: 1.6em;
        padding: 0 0 9% 9%;
        font-weight: bold;
    }

    .deep-earth {
        background: url(img/desktop/image-deep-earth.jpg) center center/cover no-repeat;
    }
    
    .night-arcade {
        background: url(img/desktop/image-night-arcade.jpg) center center/cover no-repeat;
    }
    
    .soccer-team {
        background: url(img/desktop/image-soccer-team.jpg) center center/cover no-repeat;
    }
    
    .grid {
        background: url(img/desktop/image-grid.jpg) center center/cover no-repeat;
    }
    
    .from-above {
        background: url(img/desktop/image-from-above.jpg) center center/cover no-repeat;
    }
    
    .pocket-borealis {
        background: url(img/desktop/image-pocket-borealis.jpg) center center/cover no-repeat;
    }
    
    .curiosity {
        background: url(img/desktop/image-curiosity.jpg) center center/cover no-repeat;
    }
    
    .fisheye {
        background: url(img/desktop/image-fisheye.jpg) center center/cover no-repeat;
    }

    footer {
        padding: 3% 10% 1% 10%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "logo social"
            "nav copyright"
            "attribution attribution";
    }

    footer .logo, footer ul {
        justify-self: start;
    }

    footer ul {
        margin-bottom: 1em;
        text-align: left;
    }

    footer .logo img {
        height: 1.6em;
    }

    footer li {
        margin-left: 0;
        margin-right: 3em;
    }

    .social-icons, .copyright {
        justify-self: end;
    }

    .social-icons {
        left: initial;
        width: 30%;
        transform: none;
        justify-content: space-between;
    }





}    
