@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    min-height: 100vh;
    color: #fff;
    

}

#hero {
    background: url(img/mobile/image-hero.jpg) center center/cover no-repeat;
    height: 100vh;
    width: 100vw;
    padding: 6%;
}


header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 1.4em;
}

.logo, #hamburger-menu-icon {
    z-index: 3;
}

#header-navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #000;
    padding-left: 6%;
    text-transform: uppercase;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 200ms ease;
}

header ul {
    position: relative;
    top: 40%;
    transform: translateY(-25%);
}

header li {
    font-size: 1.8em;
    margin-bottom: 1em;
}

.hero-message {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    font-size: 2.5em;
    text-transform: uppercase;
    width: 100%;
    border:solid 2px #fff;
    padding: 7% 7% 6% 7%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

header input {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 1.5em;
    width: 2em;
    background: url(img/icon-hamburger.svg) center center/auto no-repeat;
    cursor: pointer;
}

#hamburger-menu-icon:checked {
    background: url(img/icon-close.svg) center center/auto no-repeat;  
}

#hamburger-menu-icon:checked ~ #header-navigation {
    transform: none;
    transition: transform 200ms ease;
}

footer {
    background: #000;
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-size: .9em;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}