@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    width: 100vw;
    background: hsl(0, 0%, 95%);
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: .9em;
    line-height: 1.7; 
}

.page-wrap {
    position: relative;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Accessible by screen readers but not visible */
.sr-only:not(:focus):not(:active) {
    clip-path: inset(50%);
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
}

.container {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    height: auto;
    width: 60%;
    min-width: 875px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.column {
    padding: 4em;
}

.column-icon {
    margin-bottom: 2.2em;;
}

h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: .5em;
    color: hsl(0, 0%, 95%);
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: .6em 0 0 .6em;
}

.suv {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 .6em .6em 0;
}

.container a {
    display: inline-block;
    position: relative;
    margin-top: 3em;
    background: hsl(0, 0%, 95%);
    border-radius: 2em;
    padding: 1em 2em;
    font-family: inherit;
    transition: all ease-in-out 150ms;
    text-decoration: none;
}


.sedans a {
    color: hsl(31, 77%, 52%);
}

.suv a {
    color: hsl(184, 100%, 22%);
}

.luxury a {
    color: hsl(179, 100%, 13%)
}

a:hover {
    color: #fff;
    border: solid 2px white;
    background-color: transparent;
    left: -1px;
    color: #fff;
}


.attribution { 
    display: block;
    bottom: 2em;
    color: rgba(0, 0, 0, .5);
    font-size: 11px; 
    text-align: center;
    padding: 2em;
}

.attribution a { 
    color: rgba(0, 0, 0, .5);
}


@media only screen and (max-width: 375px) {

    .page-wrap {
        height: auto;
    }

    .container {
        position: relative;
        margin: 20% 0;
        top: 0;
        transform: none;
        width: 90%;
        min-width: 300px;
        grid-template-columns: 1fr;
    }

    .sedans {
        border-radius: .6em .6em 0 0;
    }

    .luxury {
        border-radius: 0 0 .6em .6em;
    }

}