@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%),  hsl(240, 73%, 65%));
    font-size: 1em;
    font-weight: 400;
    color: hsl(238, 29%, 16%);
}

#page-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.main-card-container {
    background: #fff;
    height: 60%;
    width: 65%;
    min-width: 1000px;
    max-width: 1250px;
    min-height: 550px;
    max-height: 700px;
    margin-top: 10%;
    border-radius: 2.5em;
    box-shadow: 0 2em 3em rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-column {
    height: 100%;
    width: 55%;
    position: relative;
    display: inline-block;
    background: url(img/illustration-woman-online-desktop.svg) -300% 50%/95% no-repeat,
                url(img/bg-pattern-desktop.svg) 120% 65%/190% no-repeat;
}

.illustration-box {
    position: absolute;
    z-index: 3;
    top: 40%;
    left: -17%;
    height: 35%;
}

.right-column {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 44%;
    padding: 8% 10% 6% 0;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 5%;
}

.accordion-menu-container {
    height: 80%;
    width: 100%;
    padding-right: 15px;
    overflow: hidden;
}

.question {
    padding: 1.2em 0;
}

.question-heading {
    position: relative;
}

.question-heading:hover {
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}

.expanded .question-heading {
    font-weight: 700;
}

.arrow-icon {
    height: .55em;
    position: absolute;
    right: 0;
    top: 5px;
    transition: transform 300ms ease;
}

.expanded .arrow-icon {
    transform: rotate(180deg);
    transition: transform 300ms ease;
}

.answer-text {
    padding: 0;
    font-size: .85em;
    line-height: 1.5em;
    color: hsl(240, 6%, 50%);
    max-height: 0;
    opacity: 0;
    transition: all 400ms ease;
}

.expanded .answer-text {
    padding-top: 1.2em;
    max-height: 100px;
    opacity: 1;
    transition: all 400ms ease;
}

hr {
    height: 1px;
    border: none;
    background: hsl(240, 5%, 91%);
}    

.attribution { 
    font-size: 11px; text-align: center; 
    color: rgba(0, 0, 0, .4); 
    margin-top: 10%;
    padding-bottom: 10px;
}

.attribution a { 
    color: rgba(0, 0, 0, .4); 
}


@media only screen and (max-width: 375px) {

    body {
        font-size: .75em;
    }

    .left-column {
        display: none;
    }

    .main-card-container {
        margin-top: 40%;
        min-height: 450px;
        max-height: 575px;
        width: 85%;
        min-width: 300px;
        border-radius: 2em;
        box-shadow: 0 2em 2em rgba(0, 0, 0, .3);
    }


    .right-column {
        height: 130%;
        position: relative;
        top: -25%;
        width: 100%;
        padding: 0 2em 2em 2em;
    }

    .mobile-illustration-wrap {
        display: block;
        height: 50%;
        width: 90%;
        background: url(img/illustration-woman-online-mobile.svg) -100% 70%/contain no-repeat,
                    url(img/bg-pattern-mobile.svg) 100% 90%/90% no-repeat;
    }

    h1 {
        font-size: 2.5em;
        display: inline-block;
        position: relative;
        margin: 5% 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .accordion-menu-container {
        padding: 0;
        margin-bottom: 1em;
    }

    .answer-text {
        font-size: .85em;
    }



    .attribution {
        font-size: .7em;
    }
}