@font-face {
  font-family: Hanken Grotesque;
  src: url(./fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Hanken Grotesque;
  font-variation-settings: "wght" 700;
}

#card-container {
  background-color: #fff;
  position: relative;
}

.card-heading {
  font-size: 1.2em;
  margin-bottom: 1.3em;
}

#overall-result {
  background: -webkit-gradient(linear, left top, left bottom, from(#6743ff), to(#2d2af7));
  background: linear-gradient(#6743ff, #2d2af7);
  border-radius: 0 0 2em 2em;
  padding: 2em 2em 3em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#overall-result .card-heading {
  opacity: 60%;
}

.total-score {
  background: -webkit-gradient(linear, left top, left bottom, from(#4f24cb), to(#3c42f1));
  background: linear-gradient(#4f24cb, #3c42f1);
  border-radius: 100%;
  padding: 7% 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.8em;
}

#overall-score-num {
  font-size: 4em;
}

#total {
  opacity: 40%;
}

.score-desc {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: .5em;
  font-variation-settings: "wght" 600;
}

.percentile-msg {
  width: 85%;
  opacity: 60%;
  text-align: center;
  font-variation-settings: "wght" 500;
  font-size: 1em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 1201px) {
  #card-container, #overall-result, #summary {
    border-radius: 2em;
  }
  #card-container {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 40%;
    height: 50%;
    -webkit-box-shadow: 20px 10px 40px rgba(20, 42, 88, 0.1);
            box-shadow: 20px 10px 40px rgba(20, 42, 88, 0.1);
  }
}
