@font-face {
    font-family: Hanken Grotesque;
    src: url(./fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Hanken Grotesque;
    font-variation-settings: "wght" 700;
}


#card-container {
    background-color: #fff;
    position: relative;
}

.card-heading {
    font-size: 1.2em;
    margin-bottom: 1.3em;
}

#overall-result {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0 0 2em 2em;
    padding: 2em 3em;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    //align-items: center;
    text-align: center;
    color: #fff;

    .card-heading {
        opacity: 60%;
    }
}

.total-score {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    padding: 7% 12%;
    display: inline-block;
    //flex-direction: column;
    //justify-content: center;
   // align-items: center;
    margin-bottom: 1.8em;
}

#overall-score-num {
    font-size: 3.5em;
}

#total {
    opacity: 40%;
}

.score-desc {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: .5em;
    font-variation-settings: "wght" 600;
}

.percentile-msg {
    width: 100%;
    opacity: 60%;
    text-align: center;
    font-variation-settings: "wght" 500;
    font-size: 1em;
}


#summary {
    padding: 8%;
    background-color: #fff;

    .card-heading {
        color: hsl(224, 30%, 27%);
    }
}


.score-category {
    width: 100%;
    margin-bottom: 1.2em;
    border-radius: .6em;
    padding: 1em 1.2em;
    //background-color: darkcyan;
    
    .icon {
        vertical-align:bottom;
        margin-right: 6px;
    }

    &.category-1 {
        background-color: hsla(0, 100%, 67%, .08);
        color: hsl(0, 100%, 67%);
    }

    &.category-2 {
        background-color: hsla(39, 100%, 56%, .08);
        color: hsl(39, 100%, 56%);
    }

    &.category-3 {
        background-color: hsla(166, 100%, 37%, .08);
        color: hsl(166, 100%, 37%);
    }

    &.category-4 {
        background-color: hsla(234, 85%, 45%, .08);
        color: hsl(234, 85%, 45%);
    }

}

.category-name {
    display: inline-block;
}

.score {
   position: relative;
   float:right;

   .numerator {
       display: inline-block;
       margin-right: 2px;
       color: hsl(224, 30%, 27%);
   }

   .denominator {
       display: inline-block;
       color: hsla(224, 30%, 27%, .4);
   }
}



button {
    width: 100%;
    background-color: hsl(224, 30%, 27%);
    padding: .85em 0;
    margin-top: .7em;
    border: none;
    border-radius: 3em; 
    color: #fff;
    font-family : inherit;
    font-size: 1.1em;
    font-variation-settings: "wght" 600;
}





.attribution { 
    font-size: .5em; 
    text-align: center; 
    padding-bottom: 10px;
    color: hsla(224, 30%, 27%, .8);

    a {
        color: hsl(228, 45%, 44%); 
        text-decoration: none;
    }
}


// Desktop and tablet styles
@media screen and (min-width: 720px){

    #card-container, #overall-result, #summary {
        border-radius: 2em;
    }

    #card-container {
        background: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 650px;
        height: 468px;
        box-shadow: 20px 10px 40px rgba(20, 42, 88, .1);
    }


    #overall-result, #summary {
        height: 100%;
        
    }

    #overall-result {
        padding: 35px 45px;;
    }

    #summary {
        padding: 35px 30px;
    }

    .total-score {
        margin-bottom: 2em;
    }

    .score-desc {
        font-size: 1.8em;
    }

 

    .card-heading {
        font-size: 1.3em;
    }    

    .total-score {
        padding: 14% 20%;
    }

    #overall-score-num {
        font-size: 4em;
    }

    .score-category {
        padding: .8em 1.2em;
    }


    
}
 