@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  background-color: #c5e4e7;
  min-height: 100%;
  font-family: "Space Mono", monospace;
  font-weight: 500;
}

header {
  width: 100%;
}
header #logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 2.5em 0;
}

main {
  background: #fff;
  width: 100%;
  border-radius: 1.5em 1.5em 0 0;
  padding: 8% 8% 25% 8%;
}

.options-input {
  position: relative;
}

label {
  display: inline-block;
  color: #5e7a7d;
  margin-bottom: 0.3em;
}

.input-error {
  display: none;
  position: relative;
  float: right;
  top: 5px;
  color: red;
  font-size: 0.8em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  width: 100%;
  padding: 0.5em 0.6em;
  text-align: right;
  background: #f4fafa;
  border: none;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.2em;
  color: #00494d;
  margin-bottom: 1.5em;
}
input[type=number]::placeholder {
  color: #7f9c9f;
  opacity: 0.7;
}
input[type=number] :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #00494d;
}
input[type=number]:focus {
  outline: none;
}
input[type=number]:focus::placeholder {
  color: transparent;
}

#bill-total {
  background: url(img/icon-dollar.svg) left 5% center no-repeat, #f4fafa;
}

#num-people {
  background: url(img/icon-person.svg) left 5% center no-repeat, #f4fafa;
}

.tip-values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.8em;
  margin-bottom: 1.5em;
}

button {
  background: #00494d;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0.2em 0.5em;
  font-size: 1.5em;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  cursor: pointer;
}

button.selected {
  background: #26c0ab;
  color: #00494d;
}

#custom-tip {
  width: 100%;
  color: #00494d;
  margin-bottom: 0;
}
#custom-tip::placeholder {
  color: #00494d;
}
#custom-tip:focus {
  outline: none;
}
#custom-tip:focus::placeholder {
  color: transparent;
}

.calculations {
  position: relative;
  margin-top: 0.2em;
  background: #00494d;
  border-radius: 0.8em;
  padding: 2em 1.4em 1.4em 1.4em;
  color: #fff;
}
.calculations .totals-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin-bottom: 2em;
  row-gap: 1em;
}
.calculations span {
  opacity: 0.6;
  font-size: 0.8em;
  font-weight: 700;
}
.calculations .result {
  justify-self: end;
  color: #26c0ab;
  font-size: 2em;
  font-weight: 700;
}

input[type=reset] {
  opacity: 0.3;
  width: 100%;
  background: #26c0ab;
  border: none;
  border-radius: 0.3em;
  text-transform: uppercase;
  font-weight: 700;
  color: #00494d;
  font-family: "Space Mono", monospace;
  font-size: 1.5em;
  padding: 0.3em 0;
  cursor: pointer;
}

footer {
  position: relative;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  font-size: 0.6em;
  text-align: center;
}
.attribution a {
  color: #00494d;
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
    overflow: hidden;
  }

  header {
    height: 20%;
  }
  header #logo {
    margin: 12% 0;
  }

  main {
    height: 80%;
    padding: 10%;
  }

  .options-input, .calculations {
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 1024px) {
  header {
    height: 30%;
  }
  header #logo {
    margin: 16% 0;
  }

  main {
    height: 70%;
  }
}
@media screen and (min-width: 1200px) {
  header {
    height: 18em;
  }
  header #logo {
    margin-top: 8em;
  }

  main {
    position: relative;
    width: 50%;
    height: 26em;
    left: 50%;
    transform: translateX(-50%);
    padding: 2%;
    border-radius: 1.5em;
  }

  label {
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  #tip-calculator {
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2em;
  }

  .options-input, .calculations {
    height: 100%;
    left: 0;
    transform: none;
  }

  .calculations {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .tip-values {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .attribution {
    width: 100%;
  }
}
