@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap');

$font-stack: 'Space Mono', monospace;
$main-dark-color: hsl(183, 100%, 15%);
$accent-color: hsl(172, 67%, 45%);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body {
    background-color: hsl(185, 41%, 84%);
    min-height: 100%;
    font-family: $font-stack;
    font-weight: 500;
}

header {
    width: 100%;

    #logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 2.5em 0;
    }
}

main {
    background: #fff;
    width: 100%;
    border-radius: 1.5em 1.5em 0 0;
    padding: 8% 8% 25% 8%;
}

label {
    display: inline-block;
    color: hsl(186, 14%, 43%);
    margin-bottom: .3em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    width: 100%;
    padding: .5em .6em;
    text-align: right;
    background: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    font-family: $font-stack;
    font-weight: 700;
    font-size: 1.2em;
    color: $main-dark-color;
    margin-bottom: 1.5em;

    &::placeholder {
        color: hsl(184, 14%, 56%);
        opacity: .7;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $main-dark-color;
    }

    &:focus {
        outline: none;

        &::placeholder {
            color: transparent;
        }
    }  

    

}

#bill-total {
    background: url(img/icon-dollar.svg) left 5% center no-repeat, hsl(189, 41%, 97%);
}

#num-people {
    background: url(img/icon-person.svg) left 5% center no-repeat, hsl(189, 41%, 97%);
}




.tip-values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .8em;
    margin-bottom: 1.5em;
}

button {
    background: $main-dark-color;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: .2em .5em;
    font-size: 1.5em;
    font-family: $font-stack;
    font-weight: 700;
}

#custom-tip {
    width: 100%;
    color: $main-dark-color;
    margin-bottom: 0;

    &::placeholder {
        color: hsl(183, 100%, 15%);
    }

    &:focus {
        outline: none;

        &::placeholder {
            color: transparent;
        }
    }  
}

.calculations {
    margin-top: .2em;
    background: $main-dark-color;
    border-radius: .8em;
    padding: 2em 1.4em 1.4em 1.4em;
    color: #fff;
     
    .totals-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        margin-bottom: 2em;
        row-gap: 1em;
    }


    span {
        opacity: .6;
        font-size: .8em;
        font-weight: 700;
    }

    .result {
        justify-self: end;
        color: $accent-color;
        font-size: 2em;
        font-weight: 700;
    }
}

input[type=reset] {
    width: 100%;
    background: $accent-color;
    border: none;
    border-radius: .3em;
    text-transform: uppercase;
    font-weight: 700;
    color: $main-dark-color;
    font-family: $font-stack;
    font-size: 1.5em;
    padding: .3em 0;
}


footer {
    position: relative;
}

.attribution { 
    font-size: 11px; text-align: center; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    font-size: .6em;
    text-align: center;

    a { 
        color: $main-dark-color; 
    }

}